<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="website icon" href="meow.jpg">
    <title>Play Game</title>
</head>
<body>
    <h1>Welcome to Rock Paper Scissor game !</h1>
    <form action="/start" method="post">
        <h4>Enter your name</h4>
        <div class="center-container">
            <input type="text" name="name">
            <input type="submit" value="Submit">
        </div>
    </form>
</body>
</html>