<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Result !</title>
</head>
<body>
    <h2> ᓚᘏᗢ Game Result... (つ ͡~ ω°)つ</h2>
    <p>player Choice: <%= @player_choice %></p>
    <p>AI Choice: <%= @computer_choice %></p>
    <h4>Result: <%= @outcome %></h4>

    <a href="/" >Restart Game</a>
</body>
</html>